* text=auto eol=lf

dependencies/* linguist-vendored
includes/ui/* linguist-language=HTML+PHP

/.github export-ignore
/.wordpress-org export-ignore
/bin export-ignore
.editorconfig export-ignore
.gitattributes export-ignore
.gitignore export-ignore
CHANGELOG.md export-ignore
composer.json export-ignore
phpcs.xml export-ignore
phpstan.neon.dist export-ignore
phpunit.xml.dist export-ignore
readme.txt export-ignore
