includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:

    level: 5

    treatPhpDocTypesAsCertain: false
    inferPrivatePropertyTypeFromConstructor: true

    phpVersion: 70200

    dynamicConstantNames:
        - WP_DEBUG_DISPLAY
        - WP_REDIS_SERVERS
        - WP_REDIS_PASSWORD

    bootstrapFiles:
        - tests/PHPStan/bootstrap.php
        # Made with generate-stubs --classes --interfaces --traits --out=query-monitor-stubs.php classes/ output/
        - tests/PHPStan/query-monitor-stubs.php
        - vendor/php-stubs/wp-cli-stubs/wp-cli-stubs.php

    paths:
        - redis-cache.php
        - includes/
        - tests/PHPStan/object-cache.php

    excludePaths:
        - includes/object-cache.php

    ignoreErrors:

        # Redis Cache implementation differs from core
        -
            message: "#^Class WP_Object_Cache constructor invoked with 1 parameter, 0 required\\.$#"
            count: 1
            path: includes/diagnostics.php

        # Included template calling protected method
        -
            message: "#^Call to protected method after_non_tabular_output\\(\\) of class QM_Output_Html\\.$#"
            count: 1
            path: includes/ui/query-monitor.php

        # Included template calling protected method
        -
            message: "#^Call to protected method before_non_tabular_output\\(\\) of class QM_Output_Html\\.$#"
            count: 1
            path: includes/ui/query-monitor.php

        # Included template using private property
        -
            message: "#^Access to private property Rhubarb\\\\RedisCache\\\\Plugin\\:\\:\\$page\\.$#"
            count: 1
            path: includes/ui/widget.php

        # False positive
        -
            message: "#^Variable \\$this might not be defined#"
            count: 1
            path: includes/ui/settings.php

        # False positive
        -
            message: "#^Access to undefined constant Credis_Client::VERSION#"
            count: 1
            path: tests/PHPStan/object-cache.php

        # whatever
        -
            message: "#^Call to an undefined method Credis_Sentinel::getCluster#"
            count: 1
            path: tests/PHPStan/object-cache.php

        # whatever
        -
            message: "#clusterName of class Credis_Cluster constructor expects#"
            count: 1
            path: tests/PHPStan/object-cache.php
