<?xml version="1.0"?>
<phpunit
	bootstrap="tests/phpunit/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<php>
		<ini name="auto_prepend_file" value="./docker/apf.php"/>
	</php>
	<logging>
		<log type="coverage-html" target="/tmp/codecov"/>
	</logging>
	<filter>
		<whitelist>
			<directory suffix=".php">includes</directory>
			<file>redis-cache.php</file>
		</whitelist>
	</filter>
	<testsuites>
		<testsuite name="main">
			<directory suffix="-test.php">./tests/phpunit/main</directory>
		</testsuite>
		<testsuite name="cache">
			<directory suffix="-test.php">./tests/phpunit/cache</directory>
		</testsuite>
		<testsuite name="meta">
			<directory suffix="-test.php">./tests/phpunit/meta</directory>
		</testsuite>
	</testsuites>
</phpunit>
