
.settings_page_redis-cache .form-table th,
.settings_page_redis-cache .form-table td {
    padding-top: 7px;
    padding-bottom: 7px;
}

.settings_page_redis-cache .card,
.settings_page_redis-cache br.clearfix {
    display: none;
}

.settings_page_redis-cache .card ul {
    list-style: circle;
    padding-left: 25px;
}

@media screen and (min-width: 1110px) {
    .settings_page_redis-cache .card {
        display: block;
        float: right;
    }

    .settings_page_redis-cache .section-overview {
        float: left;
    }

    .settings_page_redis-cache br.clearfix {
        display: block;
        clear: both;
    }
}
