
.settings_page_redis-cache .form-table th,
.settings_page_redis-cache .form-table td {
    padding-top: 7px;
    padding-bottom: 7px;
}

.settings_page_redis-cache .card ul {
    list-style: circle;
    padding-left: 25px;
}

.settings_page_redis-cache .card {
    margin-top: 50px;
}

@media screen and (min-width: 1280px) {
    .settings_page_redis-cache .section-overview {
        float: left;
        max-width: 50%;
    }

    .settings_page_redis-cache .card {
        float: right;
        margin-top: 0;
    }
}
