name: Code style

on:
  pull_request: null
  push: null

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  phpstan:
    name: PHPStan (PHP ${{ matrix.php }}; Relay ${{ matrix.relay }})
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        php: ['7.4', '8.2']
        relay: ['0.7.0']

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: msgpack, igbinary, mbstring, redis, relay
          coverage: none
          tools: parallel-lint

      - name: Install PHP Dependencies
        uses: ramsey/composer-install@v2

      - name: Check source code for syntax errors
        run: composer exec --no-interaction -- parallel-lint *.php dependencies/ includes/ tests/

      - name: Run PHPStan
        run: composer run phpstan

  editorconfig:
    name: EditorConfig
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Check EditorConfig
        uses: greut/eclint-action@v0
        with:
          eclint_args: |
            -exclude=dependencies/**/*

  plugincheck:
    name: PluginCheck
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run plugin check
        uses: wordpress/plugin-check-action@v1
        with:
          exclude-directories: 'dependencies'
